$breakpoint-tablet: 875px;
$breakpoint-mobile: 575px;

.card {
    width: 600px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 150px;

    & img {
        height: 300px;
        width: 300px;
        margin-right: 24px;
    }

    & .pizza__name {
        font-size: 52px;
        width: 100%;
        margin-left: 96px;
    }

    & .pizza__info {
        display: flex;
        width: 140px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        & .pizza__price {
            font-size: 56px;
            margin-bottom: auto;
            margin-top: 20px;
            margin-right: auto;
        }
        & button {
            height: 60px;
            width: 140px;
            font-size: 24px;
            border-radius: 8px;
            background: rgba(0, 0, 0, 0.2);
            margin-bottom: 48px;
            cursor: pointer;
            border: none;
            outline: none;
            box-shadow: 0px 0px 2px 1px rgba(255, 255, 255, 1);

            &:hover {
                background: #e27e13;
                box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 1);
                color: black;
            }

            &:active {
                background: rgba(0, 0, 0, 0.1);
                color: #f8f2ea;
                box-shadow: none;
            }
        }
    }
}

@media (max-width: $breakpoint-tablet) {
    .card {
        width: 600px;
        height: 340px;
        justify-content: flex-start;
        margin-left: 36px;
        margin-bottom: 104px;

        & img {
            height: 240px;
            width: 240px;
            margin-right: 16px;
        }

        & .pizza__name {
            font-size: 48px;
            margin-left: 0;
        }

        & .pizza__info {
            width: 104px;

            & .pizza__price {
                font-size: 48px;
            }
            & button {
                height: 48px;
                width: 120px;
                font-size: 20px;
                margin-bottom: 64px;
            }
        }
    }
}

@media (max-width: $breakpoint-mobile) {
    .card {
        width: 400px;
        height: 300px;
        margin-left: 0;
        margin-bottom: 80px;

        & img {
            height: 180px;
            width: 180px;
        }

        & .pizza__name {
            font-size: 44px;
        }
    }
}
