.layout {
    overflow-x: hidden;
    width: 100vw;
    min-height: 100vh;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    background: url("../../resources/images/menuBg.jpg") no-repeat center/cover;
    position: relative;
}

.currency__picker {
    position: fixed;
    right: 24px;
    bottom: 24px;
    width: 104px;
    height: 48px;
    display: flex;
    font-size: 48px;

    & div {
        display: flex;
        flex-basis: 50%;
        flex-direction: column;

        & label {
            display: block;
            height: 100%;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 5px;
            cursor: pointer;
        }

        & input {
            visibility: hidden;
            height: 0;
            width: 0;

            &:checked + label {
                background: radial-gradient(
                    circle,
                    rgba(235, 153, 63, 1) 0%,
                    rgba(179, 69, 37, 1) 100%
                );
                color: #000;
            }
        }
    }
}

.cart {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 80%;
    margin: 0 auto;
    margin-top: 24px;
    align-items: center;
    justify-content: center;
    padding-top: 24px;

    &__h1 {
        width: 100%;
        font-size: 112px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 32px 0;
    }

    &__order__empty {
        font-size: 48px;
    }

    &__order__total__price {
        height: 200px;
        width: 80%;
        display: flex;
        justify-content: center;

        & .total {
            font-size: 48px;
            height: 100%;
            width: 814px;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            border-top: #acaaa7 solid 0.5px;

            & p {
                height: 48px;
                width: 160px;
                margin-top: 24px;
                margin-right: 120px;
                margin-left: auto;
            }

            & a {
                align-self: flex-end;
            }

            & button {
                width: 160px;
                height: 64px;
                margin: 32px 0;
                font-size: 40px;
                border-radius: 8px;
                background: rgba(0, 0, 0, 0.2);
                cursor: pointer;
                border: none;
                outline: none;
                box-shadow: 0px 0px 2px 1px rgba(255, 255, 255, 1);

                &:hover {
                    background: #e27e13;
                    box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 1);
                    color: black;
                }

                &:active {
                    background: rgba(0, 0, 0, 0.1);
                    color: #f8f2ea;
                    box-shadow: none;
                }
            }
        }
    }
}
