$breakpoint-tablet: 1020px;
$breakpoint-mobile: 470px;

.home {
    overflow: hidden;
    overflow-y: auto;
    min-height: 100vh;
    height: auto;
    width: 100vw;
    max-width: 100%;
    background: url("../../resources/images/homeBg.jpg") no-repeat top/cover;
}

.ordernow {
    display: flex;
    min-height: 500px;
    height: calc(100vh - 80px);

    &__content {
        flex-basis: 50%;
        flex-shrink: 0;
        display: flex;
        flex-direction: column;
        padding: 16px;
        align-items: center;
        margin-top: 100px;
        margin-right: auto;

        & h1 {
            font-size: 104px;
            margin: 0;
        }

        & p {
            margin: 0 0 32px 0;
            font-size: 24px;
        }

        & button {
            height: 64px;
            width: 160px;
            font-size: 24px;
            border-radius: 8px;
            background: #d36122;
            color: #000;
            cursor: pointer;
            border: none;
            outline: none;
            padding: 8px;
            box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 1);

            &:hover {
                background: #853503;
            }

            &:active {
                background: rgba(133, 53, 3, 0.1);
                color: #f8f2ea;
            }
        }
    }
}

@media (max-width: $breakpoint-tablet) {
    .ordernow {
        &__content {
            & h1 {
                font-size: 80px;
            }

            & p {
                font-size: 24px;
            }

            & button {
                height: 36px;
                width: 120px;
                font-size: 16px;
            }
        }
    }
}

@media (max-width: $breakpoint-mobile) {
    .ordernow {
        &__content {
            flex-basis: 100%;
            padding: 16px;

            & h1 {
                font-size: 48px;
            }

            & p {
                font-size: 16px;
            }

            & button {
                height: 24px;
                width: 96px;
                font-size: 12px;
                padding: 4px;
            }
        }
    }
}
