@font-face {
    font-family: "Chelsea Market";
    src: url("./resources/fonts/ChelseaMarket-Regular.ttf");
}

* {
    box-sizing: border-box;
    color: #f8f2ea;
    font-family: "Chelsea Market", cursive;
}
